.Header {
    font-family: sans-serif;
    text-align: center;
   
  }
  * {
    margin: 0;
    padding: 0;
  }

  nav {
    height: 100px;
    background-color: #90e0ef;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
  }
  
  .logo {
    width: 40%;
    color: #370617;
    padding-left: 55px;
  }
  
  .logo h1 {
    font-family: 'Monoton', cursive;
    font-family: 'Reggae One', cursive;
    font-size: 35px;
    margin-left: -5%;
  }
  
  .menu {
    font-family: 'Monoton', cursive;
    font-family: 'Reggae One', cursive;
    width: 55%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .menu a {
    text-decoration: none;
    color: #370617;
    font-weight: bold;
    font-size: 15px;
    position: relative;
  }
  
  .menu a:before {
    content: "";
    position: absolute;
    left: 0;
    top: 100%;
    width: 0;
    height: 3px;
    background-color: #000;
    transition: all 0.6s linear;
  }
  
  .menu a:hover:before {
    width: 100%;
    background-color: #6c5ce7;
  }
  h2{
    text-align: center;
    margin-top: 100px;
  }
  